<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
 <header>
     <a href="/account">userAcc</a>
 </header>

<table style="width:100%">
    <th:block th:each="bulletin : ${bulletins}">

        <tr>
            <td th:text="${bulletin.getHeader()}">...</td>
            <td th:text="${bulletin.getDate()}">...</td>
            <td th:text="${bulletin.getText()}">...</td>
            <td th:text="${bulletin.getAuthor().getFirstName()}">...</td>

        </tr>
    </th:block>
</table>

</body>
</html>